<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings xdt:Transform="InsertIfMissing">
        <add key="storeId" value=""/>
        <add key="storeName" value=""/>
        <add key="sectorName" value=""/>
        <add key="sectorId" value=""/>
        <add key="api" value="https://localhost:44391"/>
        <add key="signalR" value="http://localhost:8080" />
        <add key="printer" value=""/>
    </appSettings>
</configuration>