<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Menoo ticket</title>
    <style>
        * {
            font-size: 12px;
            font-family: 'Arial, Helvetica, sans-serif';
        }
        body {
            width: 155px;
            max-width: 155px;
        }
        img {
            width: inherit;
            height: inherit;
        }
        #title {
            text-align: center;
        }
        #container{
            margin-left: 5%;
            margin-right: 5%;
        }
    </style>
</head>
<body>
    <div class="logoImg"> 
        <img src="\assets\img\Menoo_Logo-Final_color-3.png">
    </div>
    <div id="title">
        @title
    </div>
    <div id="container">
        <table>
            <tr>
                <td>Nro: </td>
                <td>@bookingNumber</td>
            </tr>
            <tr>
                <td>Fecha: </td>
                <td>@bookingDate</td>
            </tr>
            <tr>
                <td>Cantidad de personas: </td>
                <td>@bookingGuestQuantity</td>
            </tr>
            <tr>
                <td>Cliente: </td>
                <td>@clienteName</td>
            </tr>
        </table>
    </div>
</body>
</html>