li {
    list-style-type: none;
}

hr {
    border-style: none none dashed none;
}

ul {
    padding-left: 2%;
}

.column {
    float: left;
    width: 100%;
}

.column-50 {
    float: left;
    width: 50%;
}

.column-80 {
    float: left;
    width: 70%;
}

.column-20 {
    float: left;
    width: 30%;
}

.header {
    font-size: 18px;
}

.item-detail {
    margin-left: 1%;
}

.img-logo {
    width: 70px;
    height: 70px;
    margin-bottom: 2%;
}

.img-order-qr {
    width: 200px;
    height: 200px;
}

.item-quantity {
    margin-left: 1%;
}

.invoince-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.invoice-pos {
    background: #FFF;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2mm;
    margin: 0 auto;
    width: 80mm;
}

.invalid-text {
    text-decoration: line-through;
}

.section-center {
    text-align: center;
}

.section-custom-header {
    border-style: double;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 100%;
}

.section-left {
    text-align: left;
}

.section-right {
    text-align: right;
}

.title {
    font-size: 22px;
}

.uppercase {
    text-transform: uppercase;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}