<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings xdt:Transform="InsertIfMissing">
        <add key="isDebug" value="true" />
        <add key="eventBuilderLog" value="MenooBuilderLog" />
        <add key="serviceBuilderName" value="Menoo.Printer.Builder" />
        <add key="defaultLog" value="Aplicación" />
        <add key="queueConnectionString" value="amqp://localhost" />
        <add key="queueDelay" value="5000" />
        <add key="serviceInternal" value="7000" />
        <add key="keyFirebaseStorage" value="AIzaSyCr5efpQ1cIpJmFw1Yjx6j2Wrm61q85h-M" />
        <add key="userFirebaseStorage" value="autDotNet@auth.com.uy" />
        <add key="passwordFirebaseStorage" value="ParaAutenticarDotNet2021" />
        <add key="fireBaseBucket" value="menootest-9fa5a.appspot.com" />
        <add key="QueueOrder" value="orders"/>
        <add key="QueuePrint" value="printer"/>
        <add key="printCollection" value="print"/>
        <add key="printTicketHistoryCollection" value="ticketHistory"/>
    </appSettings>
    <connectionStrings xdt:Transform="InsertIfMissing">
        <add name="Microsoft.SQLServer.Menoo.ConnectionString" connectionString="Data Source=menoo.cun3qa90azfx.us-east-2.rds.amazonaws.com;Initial Catalog=MenooTESTING;User Id=Admin;Password=Menoo2019*;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>