<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings xdt:Transform="InsertIfMissing">
        <add key="isDebug" value="false" />
        <add key="eventBuilderLog" value="MenooPREBuilderLog" />
        <add key="serviceBuilderName" value="Menoo.PRE.Printer.Builder" />
        <add key="defaultLog" value="Aplicación" />
        <add key="queueConnectionString" value="amqp://localhost" />
        <add key="queueDelay" value="5000" />
        <add key="serviceInternal" value="7000" />
        <add key="keyFirebaseStorage" value="AIzaSyDolanUYZSAV6r2sY0Uta4nCPihHyk0iFo"/>
        <add key="userFirebaseStorage" value="autDotNet@auth.com.uy"/>
        <add key="passwordFirebaseStorage" value="ParaAutenticarDotNet2021"/>
        <add key="fireBaseBucket" value="comemosya.appspot.com"/>
        <add key="QueueOrder" value="preorders"/>
        <add key="QueuePrint" value="preprinter"/>
        <add key="printCollection" value="preprint"/>
        <add key="printTicketHistoryCollection" value="preticketHistory"/>
    </appSettings>
    <connectionStrings xdt:Transform="InsertIfMissing">
        <add name="Microsoft.SQLServer.Menoo.ConnectionString" connectionString="Data Source=menoo.cun3qa90azfx.us-east-2.rds.amazonaws.com;Initial Catalog=Menoo;User Id=Admin;Password=Menoo2019*;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>