<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings xdt:Transform="InsertIfMissing">
        <add key="isDebug" value="false" />
        <add key="eventBuilderLog" value="MenooBuilderLog" />
        <add key="serviceBuilderName" value="Menoo.Printer.Builder" />
        <add key="defaultLog" value="Aplicación" />
        <add key="queueConnectionString" value="amqp://localhost" />
        <add key="queueDelay" value="5000" />
        <add key="serviceInternal" value="7000" />
        <add key="QueueOrder" value="orders"/>
        <add key="QueuePrint" value="printer"/>
        <add key="signalR" value="https://hub.testing.menooservices.com"/>
    </appSettings>
    <connectionStrings xdt:Transform="InsertIfMissing">
        <add name="Microsoft.SQLServer.Menoo.ConnectionString" connectionString="Data Source=menoo.cun3qa90azfx.us-east-2.rds.amazonaws.com;Initial Catalog=Menoo;User Id=Admin;Password=Menoo2019*;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>