<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings xdt:Transform="InsertIfMissing">
        <add key="isDebug" value="true" />
        <add key="eventBuilderLog" value="MenooBuilderLog" />
        <add key="serviceBuilderName" value="Menoo.Printer.Builder" />
        <add key="defaultLog" value="Aplicación" />
        <add key="queueConnectionString" value="amqp://localhost" />
        <add key="queueDelay" value="5000" />
        <add key="serviceInternal" value="7000" />
        <add key="QueueOrder" value="orders"/>
        <add key="QueuePrint" value="printer"/>
        <add key="signalR" value="http://ec2-54-226-126-8.compute-1.amazonaws.com:8080" />
    </appSettings>
    <connectionStrings xdt:Transform="InsertIfMissing">
        <add name="Microsoft.SQLServer.Menoo.ConnectionString" connectionString="Data Source=menooweb.cun3qa90azfx.us-east-2.rds.amazonaws.com;Initial Catalog=MenooTESTING;User Id=Admin;Password=Menoo2022**;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>