<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="isDebug" value="true" />
        <add key="eventListenerLog" value="MenooListenerLog" />
        <add key="serviceListenerName" value="MenooPrinterListener" />
        <add key="defaultLog" value="Aplicación" />
        <add key="queueConnectionString" value="amqp://localhost" />
        <add key="queueName" value="printer" />
    </appSettings>
</configuration>
