<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="Log" value="Menoo.Printer.Listener" />
        <add key="DefaultLog" value="Aplicación" />
        <add key="ServiceName" value="MenooPrinterListener" />
        <add key="ServiceSourceName" value="MenooPrinterListener" />
    </appSettings>
</configuration>